<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Todo Angular</title>
    <style>
        body {
            padding: 50px;
        }
    </style>
</head>
<body ng-app="todoApp">
    <h1>Todo App1</h1>
    <br>
    <div ng-controller="MaintCtrl">
    <div>
        <input type="text" placeholder="Enter Todo" ng-model="newTodo.text">
        <input type="hidden" ng-model="newTodo.completed" value="false">
        <button ng-click="add()">Add</button>
    </div>

        <br>
        <div ng-repeat="todo in todos">
            <input type="checkbox" ng-model="todo.completed">
            <span ng-bind="todo.text"></span>
            <button ng-click="delete(todo)">x</button>
        </div>
    </div>

    <div>
        <br>
        <button>Clear Completed</button>
    </div>
    <script src="lib/angular.min.js"></script>
    <script src="scripts/app.js"></script>
</body>
</html>